@model LoginSnippet.ViewModels.UserRolesVM
@{
    ViewBag.Title = "AddRoleToUser";
}

<h2>AddRoleToUser</h2>

@using (Html.BeginForm("AddRoleToUser", "Roles"))
{
    <label>Bruger</label>
    <select name="UserID">
        @foreach (var user in Model.Users)
        {
            <option  value="@user.Id">
                @user.UserName
            </option>
        }
       
    </select>

    <label>Rolle</label>
    <select  name="RoleID">
        @foreach (var role in Model.Roles)
        {
            <option" value="@role.Id">
                @role.Name
            </option>
        }
    </select>

    <button>Tilføj rolle til bruger</button>
}

