
@{
    ViewBag.Title = "CreateRole";
}

<h2>CreateRole</h2>

@using (Html.BeginForm("CreateRole", "Roles"))
{
    <label>Navn</label>
    <div>
        @Html.TextBox("Name")
    </div>

    <button>Create role</button>
}